:root {
  --vp-c-brand: #8b5cf6;
  --vp-c-brand-light: #a78bfa;
  --vp-c-brand-dark: #7c3aed;
  --vp-button-brand-bg: #8b5cf6;
  --vp-button-brand-border: #8b5cf6;
  --vp-button-brand-hover-border: #a78bfa;
  --vp-button-brand-active-border: #a78bfa;
  --vp-link-color: #8b5cf6;
  --vp-link-color-hover: #7c3aed;
}